<!--home.html-->
<div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span id="msg"></span>
</div>
<div class="row" >
  <div class="col-sm-4" ng-show="user.showtimetrack" >
    <div class="card-base">
      <div class="card-icon">
        <a href="#/timetrack" title="timetrack" id="widgetCardIcon1" class="imagecard"><span class="glyphicon glyphicon-list-alt"></span></a>
        <div class="card-data widgetCardData">
          <h2 class="box-title" style="color: #626298;">Time Tracker</h2>
          <p class="card-block text-center">Submit / view timesheet details</p>
          <a href="#/timetrack" title="" class="anchor btn btn-default" style="background: #626298; border: #626298;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Create  </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" ng-show="user.showreports">
    <div class="card-base">
      <div class="card-icon">
        <a href="#/reports" title="reports" id="widgetCardIcon2" class="imagecard"><span class="glyphicon glyphicon-search"></span></a>
        <div class="card-data widgetCardData">
          <h2 class="box-title" style="color: #626298;">Reports</h2>
          <p class="card-block text-center">Generate reports for timesheet details</p>
          <a href="#/reports" title="" class="anchor btn btn-default" style="background: #626298; border: #626298;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Track  </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" ng-show="user.showadmin">
    <div class="card-base">
      <div class="card-icon">
        <a href="#/admin" title="customerSupport" id="widgetCardIcon3" class="imagecard"><span class="glyphicon glyphicon-headphones"></span></a>
        <div class="card-data widgetCardData">
          <h2 class="box-title" style="color: #626298;">Admin</h2>
          <p class="card-block text-center">Manage admin activities for the tool</p>
          <a href="#/admin" title="" class="anchor btn btn-default" style="background: #626298; border: #626298;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Manage  </a>
        </div>
      </div>
    </div>
  </div>

</div>
<!--/home.html-->
