<!--home.html-->
<div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span id="msg"></span>
</div>
<div class="row" >
  <div class="col-sm-4" ng-show="user.showdecl" >
    <div class="card-base">
      <div class="card-icon">
        <a href="#/create" title="NewDeclaration" id="widgetCardIcon1" class="imagecard"><span class="glyphicon glyphicon-list-alt"></span></a>
        <div class="card-data widgetCardData">
          <h2 class="box-title" style="color: #626298;">New Declaration</h2>
          <p class="card-block text-center">Create new declaration for customs verification</p>
          <a href="#/create" title="" class="anchor btn btn-default" style="background: #626298; border: #626298;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Create  </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" ng-show="user.showtrack">
    <div class="card-base">
      <div class="card-icon">
        <a href="#/track" title="TrackDeclaration" id="widgetCardIcon2" class="imagecard"><span class="glyphicon glyphicon-search"></span></a>
        <div class="card-data widgetCardData">
          <h2 class="box-title" style="color: #626298;">Track Case</h2>
          <p class="card-block text-center">Declaration as a case</p>
          <a href="#/track" title="" class="anchor btn btn-default" style="background: #626298; border: #626298;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Track  </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" ng-show="user.showcsr">
    <div class="card-base">
      <div class="card-icon">
        <a href="#/customer" title="customerSupport" id="widgetCardIcon3" class="imagecard"><span class="glyphicon glyphicon-headphones"></span></a>
        <div class="card-data widgetCardData">
          <h2 class="box-title" style="color: #626298;">Customer Support</h2>
          <p class="card-block text-center">Manage information on declaration disputes</p>
          <a href="#/customer" title="" class="anchor btn btn-default" style="background: #626298; border: #626298;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Manage  </a>
        </div>
      </div>
    </div>
  </div>
<!-- Dummy Items to demostrte DEVOPS in UI No acion will happen here - START -->

  <div class="col-sm-4" ng-show="user.showdecl">
    <div class="card-base">
      <div class="card-icon">
        <a  title="bankG" id="widgetCardIcon4" class="imagecard"><span class="glyphicon glyphicon-briefcase"></span></a>
        <div class="card-data widgetCardData">
          <h2 class="box-title" style="color: #626298;">Bank Guarantee</h2>
          <p class="card-block text-center">Apply for bank guarantees</p>
          <a href="#" title="" class="anchor btn btn-default" style="background: #626298; border: #626298;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Apply  </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" ng-show="user.showdecl">
    <div class="card-base">
      <div class="card-icon">
        <a  title="lRenew" id="widgetCardIcon5" class="imagecard"><span class="glyphicon glyphicon-refresh"></span></a>
        <div class="card-data widgetCardData">
          <h2 class="box-title" style="color: #626298;">License Renewal</h2>
          <p class="card-block text-center">Apply for license renewals</p>
          <a href="#" title="" class="anchor btn btn-default" style="background: #626298; border: #626298;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Apply  </a>
        </div>
      </div>
    </div>
  </div>

  <!--DEL-START > Delete the below lines to remove the Export Manifest from HOME page for DEVOPS demo -->

  <div class="col-sm-4" ng-show="user.showdecl">
    <div class="card-base">
      <div class="card-icon">
        <a  title="xMan" id="widgetCardIcon6" class="imagecard"><span class="glyphicon glyphicon-new-window"></span></a>
        <div class="card-data widgetCardData">
          <h2 class="box-title" style="color: #626298;">Export Manifest</h2>
          <p class="card-block text-center">Export the manifest</p>
          <a href="#" title="" class="anchor btn btn-default" style="background: #626298; border: #626298;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Export  </a>
        </div>
      </div>
    </div>
  </div>

  <!--DEL-END > Delete the above lines to remove the Export Manifest from HOME page for DEVOPS demo-->

<!-- Dummy Items to demostrte DEVOPS in UI No acion will happen here - END -->
</div>
<!--/home.html-->
