<!--login.html-->
<div class="whitewalker">
  <loading></loading>
  <div class="row">
      <div class="col-sm-12">
          <div class="page-header">
              <h2>Login</h2>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <form class="form-horizontal" novalidate ng-submit="submitLogin()" name="loginForm" id="loginForm">
              <fieldset>
                  <div class="form-group-sm row"></div>
                  <div class="form-group-sm row">
                      <label for="inputUsername" class="col-sm-4 control-label">Username</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" ng-model="loginForm.username" required >
                      </div>
                  </div>
                  <div class="form-group-sm row"></div>
                  <div class="form-group-sm row">
                      <label for="inputPassword" class="col-sm-4 control-label">Password</label>
                      <div class="col-sm-4">
                          <input type="password" class="form-control" ng-model="loginForm.password" required >
                      </div>
                  </div>
                  <div class="form-group-sm row"></div>
                  <div class="form-group-sm row">
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                        <input id="btnLogin" class="btn btn-sm btn-primary pull-right combtn" type="submit" ng-disabled="loginForm.$invalid" value="Login">
                        <input id="btnForgot" class="btn btn-sm btn-secondary pull-right combtn" type="submit" ng-disabled="" value="Forgot Password">
                      </div>
                  </div>
              </fieldset>
          </form>
      </div>
  </div>
</div>
<!--/login.html-->
