<!--timesheet.html-->
<div class="whitewalker">
  <div class="row">
      <div class="col-xs-6">
          <div class="page-header">
              <h2>Timesheet</h2>
          </div>
      </div>
      <div class="col-xs-6">
        <label for="weekending">Weekending</label>
        <select class="form-control-xs" id="weekending" name="weekending" ng-model="timeForm.weekending">
          <option>2017-01-01</option>
          <option>2017-02-01</option>
          <option>2017-03-01</option>
          <option>2017-04-01</option>
        </select>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
          <h5></h5>
          <form class="form-horizontal" novalidate ng-submit="getTimeForm()" name="timeForm">
              <fieldset>
                  <div class="form-group-xs">
                      <div class="col-xs-3">
                        <label for="lplatform">Legacy Platform</label>
                        <select class="form-control-xs" id="lplatform" name="lplatform" ng-model="timeForm.lplatform">
                          <option>Platform 1</option>
                          <option>Platform 2</option>
                          <option>Platform 3</option>
                          <option>Platform 4</option>
                        </select>
                      </div>
                      <div class="col-xs-3">
                        <label for="workarea">Work Area</label>
                        <select class="form-control-xs" id="workarea" name="workarea" ng-model="timeForm.workarea">
                          <option>Platform 1</option>
                          <option>Platform 2</option>
                          <option>Platform 3</option>
                          <option>Platform 4</option>
                        </select>
                      </div>
                      <div class="col-xs-3">
                        <label for="workorder">Work Order</label>
                        <select class="form-control-xs" id="workorder" name="workorder" ng-model="timeForm.workorder">
                          <option>Platform 1</option>
                          <option>Platform 2</option>
                          <option>Platform 3</option>
                          <option>Platform 4</option>
                        </select>
                      </div>
                      <div class="col-xs-3">
                        <label for="funcarea">Functional Area</label>
                        <select class="form-control-xs" id="funcarea" name="funcarea" ng-model="timeForm.funcarea">
                          <option>Platform 1</option>
                          <option>Platform 2</option>
                          <option>Platform 3</option>
                          <option>Platform 4</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group-xs">
                      <div class="col-xs-3">
                          <input type="text" class="form-control-xs" id="other" ng-model="trackForm.other"  placeholder="Other Category" />
                      </div>
                      <div class="col-xs-3">
                          <input type="text" class="form-control-xs" id="task" ng-model="trackForm.task"  placeholder="Task" />
                      </div>
                      <div class="col-xs-3">
                          <input type="text" class="form-control-xs" id="hours" ng-model="trackForm.hours"  placeholder="Hours" />
                      </div>
                  </div>
              </fieldset>
          </form>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <div class="tblContainer">
          <h4>Search Results</h4>
          <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Case ID</th>
                <th>Case Type</th>
                <th>Agent ID</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="i in tracks.caseList">
                <td>{{ i.caseId }}</td>
                <td>{{ i.caseType }}</td>
                <td>{{ i.agentId }}</td>
                <td>{{ i.caseStatus }}</td>
                <td>
                  <button class="btn btn-xs btn-primary btns" ng-click="GetDeclaration(i.caseId,i.caseStatus)" ng-show="i.caseType=='declaration'">View</button>
                  <button class="btn btn-xs btn-primary btns" ng-show="user.role=='Agent' && (i.caseStatus=='Hold' || i.caseStatus=='Returned' || i.caseStatus=='Rejected') && i.caseType=='declaration'" ng-click="RaiseRequest(i.caseId,i.caseStatus)">Raise Request</button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="addServiceRequest" tabindex="-1" role="dialog" aria-labelledby="addServiceRequest" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>Raise Service Request for {{serviceRequestForm.caseid}} in {{serviceRequestForm.casestatus}} status</strong></h5>
          <button type="button" class="close trigbtn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-horizontal" novalidate ng-submit="submitServiceRequest()" name="serviceRequestForm">
          <fieldset>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12">
                  <h5></h5>
                  <div class="form-group-xs row">
                    <label for="comSummary" class="col-xs-12 control-label lft">Request Summary</label>
                  </div>
                  <div class="form-group-xs row">
                    <input type="text" class="form-control prg3" id="reqSummary" ng-model="serviceRequestForm.reqSummary"  required/>
                  </div>
                  <div class="form-group-xs row">
                    <label for="comComments" class="col-xs-12 control-label lft">Request Details</label>
                  </div>
                  <div class="form-group-xs row">
                    <textarea class="form-control" rows="5" id="reqComments"  ng-model="serviceRequestForm.reqComments" required></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button id="btnCancel" type="button" class="btn btn-xs btn-primary trigbtn" data-dismiss="modal">Cancel</button>
              <input id="btnSubComments" class="btn btn-xs btn-primary btns" type="submit" value="Submit" >
            </div>
          </fieldset>
      </form>
      </div>
    </div>
  </div>
</div>
<!--/account.html-->
