<!--timesheet.html-->
<div class="whitewalker">
  <div class="row">
      <div class="col-xs-12">
          <div class="page-header">
              <h2>Timesheet</h2>
          </div>
      </div>
  </div>
  <form class="form-inline timeform" novalidate ng-submit="getTimeForm()" name="timeForm">
    <fieldset>
      <div class="row">
        <div class="col-xs-4">
          <label class="control-label-xs" for="weekending">Weekending Date</label>
          <select class="form-control-xs" id="weekending" ng-model="timeForm.weekending">
            <option>2017-10-20</option>
            <option>2017-10-13</option>
            <option>2017-10-06</option>
            <option>2017-09-29</option>
          </select>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-bordered table-condensed tbl">
            <thead>
              <tr>
                <th>Legacy Platform</th>
                <th>Work Area</th>
                <th>Work Order</th>
                <th>Functional Area</th>
                <th>Other Details</th>
                <th>Task Details</th>
                <th>Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform1" ng-model="timeForm.lplatform1">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea1" ng-model="timeForm.workarea1">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder1" ng-model="timeForm.workorder1">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea1" ng-model="timeForm.funcarea1">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other1" id="other1">
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails1" id="taskdetails1">
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours1" id="hours1">
                </td>
              </tr>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform2" ng-model="timeForm.lplatform2">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea2" ng-model="timeForm.workarea2">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder2" ng-model="timeForm.workorder2">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea2" ng-model="timeForm.funcarea2">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other2" id="other2">
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails2" id="taskdetails2">
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours2" id="hours2">
                </td>
              </tr>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform3" ng-model="timeForm.lplatform3">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea3" ng-model="timeForm.workarea3">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder3" ng-model="timeForm.workorder3">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea3" ng-model="timeForm.funcarea3">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other3" id="other3">
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails3" id="taskdetails3" >
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours3" id="hours3">
                </td>
              </tr>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform4" ng-model="timeForm.lplatform4">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea4" ng-model="timeForm.workarea4">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder4" ng-model="timeForm.workorder4">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea4" ng-model="timeForm.funcarea4">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other4" id="other4">
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails4"  id="taskdetails4">
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours4"  id="hours4">
                </td>
              </tr>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform5" ng-model="timeForm.lplatform5">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea5" ng-model="timeForm.workarea5">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder5" ng-model="timeForm.workorder5">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea5" ng-model="timeForm.funcarea5">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other5" id="other5">
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails5" id="taskdetails5">
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours5" id="hours5">
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total Hours</strong></td>
                <td class="hrs"><strong>40</strong></td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-xs-12">
              <input type="button" class="btn btn-sm btn-primary pull-right mr10 btns" value="Submit">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<!--/timesheet.html-->
