<!--timesheet.html-->
<div class="whitewalker">
  <div class="row">
      <div class="col-xs-12">
          <div class="page-header">
              <h2>Timesheet</h2>
          </div>
      </div>
  </div>
  <form class="form-inline timeform" novalidate ng-submit="getTimeForm()" name="timeForm">
    <fieldset>
      <div class="row">
        <div class="col-xs-4">
          <label class="control-label-xs" for="weekending">Weekending Date</label>
          <select class="form-control-xs w100" id="weekending" ng-model="timeForm.weekending">
            <option>2017-01-01</option>
            <option>2017-02-01</option>
            <option>2017-03-01</option>
            <option>2017-04-01</option>
          </select>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-bordered table-condensed tbl">
            <thead>
              <tr>
                <th>Legacy Platform</th>
                <th>Work Area</th>
                <th>Work Order</th>
                <th>Functional Area</th>
                <th>Other Details</th>
                <th>Task Details</th>
                <th>Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform" ng-model="timeForm.lplatform">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea" ng-model="timeForm.workarea">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder" ng-model="timeForm.workorder">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea" ng-model="timeForm.funcarea">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other" >
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails" >
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours" >
                </td>
              </tr>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform" ng-model="timeForm.lplatform">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea" ng-model="timeForm.workarea">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder" ng-model="timeForm.workorder">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea" ng-model="timeForm.funcarea">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other" >
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails" >
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours" >
                </td>
              </tr>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform" ng-model="timeForm.lplatform">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea" ng-model="timeForm.workarea">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder" ng-model="timeForm.workorder">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea" ng-model="timeForm.funcarea">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other" >
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails" >
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours" >
                </td>
              </tr>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform" ng-model="timeForm.lplatform">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea" ng-model="timeForm.workarea">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder" ng-model="timeForm.workorder">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea" ng-model="timeForm.funcarea">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other" >
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails" >
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours" >
                </td>
              </tr>
              <tr>
                <td>
                  <select class="form-control-xs w100 tblinp" id="lplatform" ng-model="timeForm.lplatform">
                    <option>Legacy p1</option>
                    <option>Legacy p2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workarea" ng-model="timeForm.workarea">
                    <option>Work Area A1</option>
                    <option>Work Area A2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="workorder" ng-model="timeForm.workorder">
                    <option>Work Order O1</option>
                    <option>Work Order O2</option>
                  </select>
                </td>
                <td>
                  <select class="form-control-xs w100 tblinp" id="funcarea" ng-model="timeForm.funcarea">
                    <option>Function Area F1</option>
                    <option>Function Area F2</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.other" >
                </td>
                <td>
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.taskdetails" >
                </td>
                <td class="hrs">
                  <input type="text" class="form-control-sm w100 tblinp" ng-model="timeForm.hours" >
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total Hours</strong></td>
                <td class="hrs"><strong>40</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<!--/timesheet.html-->
