body {
  background-image: url('../img/ptrn.png');
  font-size: 14px !important;
  font-weight: 400 !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.w100 {
  width:100%;
}

#logo{
  width: 32px;
  height: 32px;
  float: left;
  margin: 10px;
}
.card-base > .card-icon {
  text-align: center;
  position: relative;
}

.imagecard {
  z-index: 2;
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  color: white;
}
.imagecard:hover {
  z-index: 2;
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  color: white;
}
.card-base > .card-icon > .card-data {
  min-height: 200px !important;
  margin-top: -24px;
  background: ghostwhite;
  border: 1px solid #e0e0e0;
  padding: 15px 10px 10px 10px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
}

#widgetCardIcon1, #widgetCardIcon2, #widgetCardIcon3 {
  background: #626298 !important;
  font-size: 18px;
  line-height: 45px;
}

.row {
  margin-bottom: 10px;
}
.custom-select {
  width:100%;
  height:31px;
}

.btns {
  background-color: #626298 !important;
  border: #626298 !important;
  cursor:pointer;
}
.pd {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.lft {
  text-align: left !important;
}

.page-header {
  padding-bottom: 2px !important;
  margin: 5px 0 2px !important;
}
.container {
  width: 100% !important;
}
.hrs {
  text-align: right;
  width:5%;
}
.tblinp {
  display: block !important;
  padding: 0px 2px 2px 2px !important;
  margin: 0 !important;
  border: 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  line-height: 1 !important;
}

.tbl td {
  margin: 0 !important; padding: 2px 2px 2px 2px !important;
}

.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  margin-left: -120px;
}

.loader img {
  position: absolute;
  top: 200px;
  z-index: 100;
  width: 50px;
  height: 50px;
}
.greet {
  float: right;
  margin-top: -18px;
  font-size: 12px;
  margin-right: 10px;
}
.err {
  border-color: red;
}
.nvbr {
    background-color: #1F57A4 !important;
  border-color: #1F57A4 !important;
}
.msgFail {
  padding-top: 20px;
  font-size: 12px;
  color: red;
  text-align: center;
  display: block;
}
.msgSuccess {
  padding-top: 20px;
  font-size: 12px;
  color: green;
  text-align: center;
  display: block;
}
.displayNone {
  display: none;
}
.diag {
  margin-top: 10px;
}
.imgdiv {
  text-align: center;
  height: 99%;
}
.docoimg {
  height: 98%;
}
.combtn {
  margin-right: 4px;
}
.whitewalker {
  background-color: white;
  padding: 5px 15px 15px 15px;
  margin-top: 10px;
  margin-bottom:10px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px 4px 0 0;
}
